body {
    width: 960px;
    margin: auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 300;
}

#loading {
    position: fixed;
    top: 325px;
    left: 50%;
    width: 100px;
    height: 100px;
    background-image: url('loading.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.thumbnail {
    float: left;
    box-sizing: border-box;
    width: 25%;
    height: 230px;
    padding: 5px;
    background-position: center center;
    background-clip: content-box;
    cursor: pointer;
}

/* Transparent overlay on hover */
.thumbnail:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
}
.thumbnail:hover:after {
    opacity: 0.4;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

#lightbox #title {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

#lightbox img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 940px;
    min-height: 400px;
    margin: auto;
}

#lightbox #close {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 25px;
    height: 25px;
    background-image: url('closeIcon.png');
    background-size: contain;
    font-size: 30px;
    cursor: pointer;
}

#lightbox #left,
#lightbox #right {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
}

#lightbox #left {
    left: 175px;
    background-image: url('leftArrowIcon.png');
}

#lightbox #right {
    right: 175px;
    background-image: url('rightArrowIcon.png');
}